{% extends 'base.html.twig' %}

{% block title %}Edit Folder{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/cu_style.css') }}">
{% endblock stylesheets %}

{% block body %}

{#

    <h1>Edit Folder</h1>

    {{ include('folder/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_folder_index', {slug_lib: library.slug}) }}">back to list</a>

    {{ include('folder/_delete_form.html.twig') }}

    #}


    <div class="container main">
        <div class="back-btn">
            <button class="btn btn-primary">
                <a href="{{ path('app_library_show', {'slug': library.slug}) }}"> < retour</a>
            </button>
        </div>

    <div class="card">
        <h5 class="card-header text-center">Editer</h5>
        <div class="card-body">
          <h5 class="card-title">Changer le nom de la Librairie</h5>
            {{ form_start(form) }}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            <div class="form-group">
                {{ form_widget(form) }}
            </div>
            <button class="btn btn-primary">{{ button_label|default('enregistrer') }}</button>
            {{ form_end(form) }}
        </div> 
      </div>
    </div>
{% endblock %}
