{% extends 'base.html.twig' %}

{% block title %}New Folder{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/cu_style.css') }}">
{% endblock stylesheets %}

{% block body %}
    

    <div class="container main">
        <div class="back-btn">
            <button class="btn btn-primary">
                <a href="{{ path('app_library_show', {'slug': library.slug}) }}"> < Retour</a>
            </button>
        </div>

    <div class="card">
        <h5 class="card-header text-center">Nouveau dossier</h5>
        <div class="card-body">
          <h5 class="card-title">Donnez un nom au dossier</h5>
          {# <form> #}
            {{ form_start(form) }}
              {% form_theme form 'bootstrap_4_layout.html.twig' %}

            <div class="form-group">
                {{ form_widget(form) }}
            </div>
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}

              
            {# <div class="form-group">
              <label for="exampleFormControlFile1">Example file input</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </form> #}
           {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div> 
      </div>
    </div>
    
{% endblock %}


