{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <h2>documents</h2>
    <div class="table-responsive">
        <table class="table table-centered">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>voir</th>
            </tr>
          </thead>
          <tbody>
              {% for document in documents %}
                  
            <tr>
              <td>{{ document.id }}</td>
              <td>{{ document.name }}</td>
              <td><a href="{{ path('app_document_show', {slug_folder: document.folder.slug, slug: document.slug}) }}">show</a></td>
            </tr>
                {% else %}
                    <tr>pas de resultats</tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

      <h2>folders</h2>
      <div class="table-responsive">
          <table class="table table-centered">
            <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>voir</th>
              </tr>
            </thead>
            <tbody>
                {% for folder in folders %}
                    
              <tr>
                <td>{{ folder.id }}</td>
                <td>{{ folder.name }}</td>
                <td><a href="{{ path('app_folder_show', {slug_lib: folder.library.slug, slug: folder.slug}) }}">show</a></td>
              </tr>
                {% else %}
                <tr>pas de resultats</tr>
              {% endfor %}
              
  
            </tbody>
          </table>
        </div>

        <h2>libraries</h2>
        <div class="table-responsive">
            <table class="table table-centered">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>voir</th>
                </tr>
              </thead>
              <tbody>
                  {% for library in libraries %}
                      
                <tr>
                  <td>{{ library.id }}</td>
                  <td>{{ library.name }}</td>
                  <td><a href="{{ path('app_library_show', {'slug': library.slug}) }}">show</a></td>
                </tr>
                    {% else %}
                    <tr>pas de resultats</tr>
                {% endfor %}
    
              </tbody>
            </table>
          </div>
        
{% endblock %}
