{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block body %}
<div class="list-data">
  <h2>Documents</h2>
  <div class="table-responsive">
      <table class="table table-centered">
        <thead>
          <tr>
            <th>Nom</th>
          </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                
          <tr>
            <td><a href="{{ path('app_document_show', {slug_folder: document.folder.slug, slug: document.slug}) }}">{{ document.name }}</a></td>
          </tr>
              {% else %}
                  <tr>pas de resultats</tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <h2>Dossiers</h2>
    <div class="table-responsive">
        <table class="table table-centered">
          <thead>
            <tr>
              <th>Nom</th>
            </tr>
          </thead>
          <tbody>
              {% for folder in folders %}
                  
            <tr>
              <td><a href="{{ path('app_folder_show', {slug_lib: folder.library.slug, slug: folder.slug}) }}">{{ folder.name }}</a></td>
            </tr>
              {% else %}
              <tr>pas de resultats</tr>
            {% endfor %}

          </tbody>
        </table>
      </div>


      <h2>Libraries</h2>
      <div class="table-responsive">
          <table class="table table-centered">
            <thead>
              <tr>

                <th>Nom</th>
              </tr>
            </thead>
            <tbody>
                {% for library in libraries %}
                    
              <tr>
                <td><a href="{{ path('app_library_show', {'slug': library.slug}) }}">{{ library.name }}</a></td>
              </tr>
                  {% else %}
                  <tr>pas de resultats</tr>
              {% endfor %}

  
            </tbody>
          </table>
        </div>

</div>


        
{% endblock %}
