<h1>{{ document.name }}</h1>

<p>De : {{ mail }}</p>

<p>code d'acces au document : {{ code }}</p>

<p>cliquez <a href="{{ link }}">ici</a> pour acceder au document</p>

<p>message : {{ message|raw }}</p>