{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td>{{ document.createdAt ? document.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ document.updatedAt ? document.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ document.slug }}</td>
                <td>
                    <a href="{{ path('app_document_show', {slug_folder: folder.slug, slug: document.slug}) }}">show</a>
                    <a href="{{ path('app_document_edit', {slug_folder: folder.slug, slug: document.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_document_new', {slug_folder: folder.slug}) }}">Create new</a>
{% endblock %}