{% extends 'base.html.twig' %}

{% block title %}New Document{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/cu_style.css') }}">
{% endblock stylesheets %}


{% block body %}
<div class="container main">
  <div class="back-btn">
    <button class="btn btn-primary">
      <a href="{{ path('app_folder_show', {slug_lib: folder.library.slug, slug: folder.slug}) }}"> < back</a>
    </button>
  </div>
 
  {{ form_start(form)}}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-primary">chargement fichier</button>
{{ form_end(form) }}
  


</div>
{% endblock %}