{% extends 'base.html.twig' %}

{% block title %}Library index{% endblock %}

{% block body %}
    <h1>Library index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for library in libraries %}
            <tr>
                <td>{{ library.id }}</td>
                <td>{{ library.name }}</td>
                <td>{{ library.createdAt ? library.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ library.updatedAt ? library.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ library.slug }}</td>
                <td>
                    <a href="{{ path('app_library_show', {'slug': library.slug}) }}">show</a>
                    <a href="{{ path('app_library_edit', {'slug': library.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_library_new') }}">Create new</a>
{% endblock %}
