{% extends 'base.html.twig' %}

{% block title %}{{ library.name }}{% endblock %}

{% block add_folder %}{{ path('app_folder_new', {slug_lib: library.slug}) }}{% endblock add_folder %}

{% block document %}{% endblock document %}

{% block data_show %}
    <div class="data-folder">   
        <ul>
                <h1><li class="data-list">{{ library.name }} :</li></h1>
            {% for folder in library.folders %}
                <li class="data-list">
                    <a href="{{ path('app_folder_show', {slug_lib: library.slug, slug: folder.slug}) }}">{{ folder.name }}</a>
                    {{ include('folder/_delete_form.html.twig') }}
                    
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

